application:
  endpoint-lais:
    url: ${ENDPOINT_LAIS_URL:https://lasa-lais-hml-sac.us-west-2.elasticbeanstalk.com/api/notification}
    authorization-password: ${ENDPOINT_LAIS_AUTHORIZATION_VALUE:#Lasa2017}
  endpoint-ultima-venda:
    url: ${ENDPOINT_ULTIMA_VENDA_URL:https://lasa-lais-hml-sac.us-west-2.elasticbeanstalk.com/api/notification}
  endpoint-loja:
    url: ${ENDPOINT_ULTIMA_VENDA_URL:http://whml.lasa.lojaamericanas.com.br/mapa/consulta/lojas}
management:
  context-path: /jmx
  port: 8081
  security:
    enabled: false
info:
  application:
    name: @project.artifactId@
    version: @project.version@

logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure:
            security: INFO
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
    br:
      com:
        lasa: DEBUG

debug: true
security:
  basic:
    enabled: false
    authorize-mode: none
    path: /**
  enable-csrf: true
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://52.31.153.157:3306/pdv?useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=America/Sao_Paulo&useSSL=false&autoReconnect=true
    username: consulta_iot
    password: jesem2f_Ju-E
  data:
    rest:
      base-path: /api
    mongodb:
      repositories:
        enabled: true