application:
  url-base:
    calendario-loja: ${APPLICATION_URL_BASE_CALENDARIO_LOJA:http://52.31.153.101/raiox_geo/api/v2/CalendarioDeLoja}
    loja-sem-venda: ${APPLICATION_URL_BASE_LOJA_SEM_VENDA:http://52.31.153.101/raiox_geo/api/lojasemvenda}
    feriado-loja: ${APPLICATION_URL_BASE_FERIADO_LOJA:http://52.31.153.101/raiox_geo/api/feriados}
  message:
    user-created-sucessfully: ${MESSAGE_USER_CREATED_SUCESSFULLY:'Seu cadastro foi registrado com sucesso'}
  endpoint-lais:
    url: ${ENDPOINT_LAIS_URL:https://lasa-lais-hml-sac.us-west-2.elasticbeanstalk.com/api/notification}
    authorization-password: ${ENDPOINT_LAIS_AUTHORIZATION_VALUE:#Lasa2017}
  endpoint-ultima-venda:
    url: ${ENDPOINT_ULTIMA_VENDA_URL:https://lasa-lais-hml-sac.us-west-2.elasticbeanstalk.com/api/notification}
  endpoint-loja:
    url: ${ENDPOINT_ULTIMA_VENDA_URL:http://whml.lasa.lojaamericanas.com.br/mapa/consulta/lojas}
management:
  context-path: /jmx
  security:
    enabled: false

  trace:
    include: remoteAddress, parameters, authType, sessionId, remoteUser, errors, requestHeaders, responseHeaders, queryString, contextPath
info:
  application:
    name: @project.artifactId@
    version: @project.version@

logging:
  level:
    com:
      mongodb: DEBUG
    org:
      springframework:
        boot:
          autoconfigure:
            security: INFO
        data:
          mongodb: DEBUG
    br:
      com:
        lasa: DEBUG

debug: true
security:
  basic:
    enabled: false
    authorize-mode: none
    path: /**
  enable-csrf: true
spring:
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://52.31.153.157:3306/pdv?useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=America/Sao_Paulo&useSSL=false&autoReconnect=true
#    username: consulta_iot
#    password: jesem2f_Ju-E
  data:
    rest:
      base-path: /api
    mongodb:
      repositories:
        enabled: true
  jmx:
    server: mbeanServer
    enabled: true
endpoints:
  trace:
    sensitive: false
  cors:
    allowed-origins: '*'
    exposed-headers: REASON, message
  jmx:
    enabled: true
---
spring:
  profiles: hml, prd
debug: false