application:
  endpoint-lais:
    url: ${ENDPOINT_LAIS_URL:https://lasa-lais-hml-sac.us-west-2.elasticbeanstalk.com/api/notification}
    authorization-password: ${ENDPOINT_LAIS_AUTHORIZATION_VALUE:#Lasa2017}
management:
  context-path: /jmx
  port: 8081
  security:
    enabled: false
info:
  application:
    name: @project.artifactId@
    version: @project.version@

logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure:
            security: INFO
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
    br:
      com:
        lasa: DEBUG

spring:
  data:
    rest:
      base-path: /api
    mongodb:
      repositories:
        enabled: true

debug: true
security:
  basic:
    enabled: false
    authorize-mode: none
    path: /**